   header  {
    background-color: #8b85c1e1;
   }

  body  {
    background-color: rgba(212, 221, 255, 0.842);
    color: white;
 }

  footer  {
     background-color: rgba(188, 200, 224, 0.903) ;
 }

.estudante-div { 
   text-align: center;
   padding: 16px 0;
}

.estudante-div {
   text-align: center;
   padding: 16px 0;
}

.estudante-imagem {
    width: 30% ;

}

.estudante-icone{
    width: 25px;
    padding: 4px 8px;
}

h1, h2, h3 {
   color: lab(96.52% 1.91 -3.13 / 0.882);
   font-weight: 700;
}

a:hover {
    color: #754fa7e1;
}

footer {
   background-color: #9494ce;
}

.rodape {
   background-color: black;
   color:aliceblue
   text-align: center;
}





















